* {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

.bg-white {
  background-color: #fff;
}

.text-primary {
  color: #0091e3;
}

.border-primary {
  border: 1px solid #0091e3;
}

.text-success {
  color: #4ebb5b;
}

.text-warning {
  color: #f3ba0a;
}

.text-warning-light {
  color: #ffd600;
}

.text-white {
  color: white;
}

.text-dark-light {
  color: #555;
}

.text-grey {
  color: #8b8b8b;
}

.text-dark {
  color: #444;
}

.btn-warning {
  background-color: #f3ba0a;
}

.bg-secondary {
  background-color: #f2f2f2;
}

h6,
p {
  color: #444;
}

.p-0 {
  padding: 0;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.ps-4 {
  padding-left: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.875rem;
}

.container {
  width: 100%;
  max-width: 82.5rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.ls-1 {
  letter-spacing: 0.0625rem;
}

.text-end {
  text-align: right;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.border-0 {
  border: 0;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.d-flex,
.row {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.row.g-4 {
  margin: 0 -1.25rem;
}

.row.g-4 div[class*="col"] {
  padding: 0 1.25rem;
}

.row div[class*="col"] {
  flex: 0 0 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 0.625rem;
}

.mt-2 {
  margin-top: 1rem;
}

.fw-medium {
  font-weight: 500;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.align-items-center {
  align-items: center;
}

.lh-1 {
  line-height: 1;
}

.align-items-end {
  align-items: end;
}

.display-1 {
  font-size: 7.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.75rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

textarea {
  resize: none;
  outline: 0;
}

h3,
.fs-3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.fs-md {
  font-size: 0.875rem;
}

.fs-1 {
  font-size: 2.8125rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

.rounded-1 {
  border-radius: 1rem;
}

.rounded-2 {
  border-radius: 0.5rem;
}

.me-3 {
  margin-right: 1rem;
}

.me-4 {
  margin-right: 1.25rem;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.wrapper {
  padding: 1.25rem 0;
}

.card {
  padding: 1.875rem 1.5rem;
}

.order-details li span {
  flex: 0 0 220px;
}

.timeline-list .time {
  flex: 0 0 100px;
  padding-top: 25px;
  padding-right: 30px;
}

.timeline-list li:first-child .timeline::before {
  background-color: #008000;
}

.timeline-list li:first-child .layer,
.timeline-list li:last-child .layer {
  background-color: white;
  width: 2px;
  top: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  height: 35px;
}

.timeline-list li:last-child .layer {
  top: 35px;
  height: 100%;
}

.product-imgWraper {
  padding-right: 20%;
}

.star {
  margin: 0 0.625rem;
}

.timeline {
  position: relative;
  padding-left: 1.875rem;
}

.timeline:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px dashed #444;
  height: 100%;
}

.timeline:before {
  position: absolute;
  left: -13px;
  top: 35px;
  content: '';
  height: 20px;
  width: 20px;
  background: #444;
  border-radius: 100%;
  z-index: 2;
  border: 3px solid white;
  box-shadow: 0px 0px 2px 0px black;
}

.timeline:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px dashed #444;
  height: 100%;
}

.timeline:before {
  position: absolute;
  left: -13px;
  top: 35px;
  content: '';
  height: 20px;
  width: 20px;
  background: #444;
  border-radius: 100%;
  z-index: 2;
  border: 3px solid white;
  box-shadow: 0px 0px 2px 0px black;
}

.submit-btn {
  padding: 0.9375rem 1.9375rem;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.5);
}

.product-img {
  width: 80px;
  height: 100px;
  border: 1px solid;
  margin: 0 5px;
  object-fit: cover;
  padding: 0.1875rem;
  border-radius: 0.625rem;
}

@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon/icomoon.eot?jc1uog');
  src: url('assets/fonts/icomoon/icomoon.eot?jc1uog#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon/icomoon.ttf?jc1uog') format('truetype'),
    url('assets/fonts/icomoon/icomoon.woff?jc1uog') format('woff'),
    url('assets/fonts/icomoon/icomoon.svg?jc1uog#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
  content: "\e903";
}

.icon-star-fill:before {
  content: "\e900";
}

.icon-star-outline:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

@media screen and (min-width:992px) {
  .col-lg-6 {
    flex: 0 0 50% !important;
  }

  .mt-lg-0 {
    margin-top: 0;
  }
}

@media screen and (max-width:991px) {
  .row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:575px) {
  .row {
    display: block;
  }

  .row.g-4 {
    margin: 0;
  }

  .row.g-4 div[class*="col"] {
    padding: 0;
  }

  .star.fs-1 {
    font-size: 1.875rem;
    margin: 0 0.3125rem;
  }

  .order-details li span {
    flex: 0 0 165px;
  }

  .product-img {
    width: 50px;
    height: 70px;
  }

  .product-imgWraper {
    padding: 0;
  }

  .timeline-list .time {
    flex: 0 0 85px;
    padding-top: 29px;
    padding-right: 20px;
  }
}